---
import NavBar from '../components/NavBar.astro';
import Layout from '../layouts/Layout.astro';
import Slider from '../components/Slider.astro';
import HeroSection from '../components/HeroSection.astro';
import ReserveSection from '../components/ReserveSection.astro';
import FooterNav from '../components/FooterNav.astro';
import Menu from '../components/Menu.astro';

---

<Layout>
	<main>
		<Menu />
		<NavBar />
		<Slider />
		<HeroSection />
		<ReserveSection />
		<img class="main-bg" src="assets/bg.webp" alt="">
	</main>
	<FooterNav />
</Layout>

<style>
	main {
		width: 100%;
		height: 100%;
		overflow: hidden;
		position: relative;

		.main-bg {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}
	}
</style>
