---
import NavBar from '../components/NavBar.astro';
import Layout from '../layouts/Layout.astro';
import Slider from '../components/Slider.astro';
import HeroSection from '../components/HeroSection.astro';
import ReserveSection from '../components/ReserveSection.astro';
import FooterNav from '../components/FooterNav.astro';

---

<Layout>
	<main>
		<NavBar />
		<Slider />
		<HeroSection />
		<ReserveSection />
	</main>
	<FooterNav />
</Layout>
