---
import NavBar from '../components/NavBar.astro';
import Layout from '../layouts/Layout.astro';
import Slider from '../components/Slider.astro';
import HeroSection from '../components/HeroSection.astro';
import ReserveSection from '../components/ReserveSection.astro';
import FooterNav from '../components/FooterNav.astro';
import MobileMenu from '../components/MobileMenu.astro';

---

<Layout>
	<main>
		<MobileMenu />
		<NavBar />
		<Slider />
		<HeroSection />
		<ReserveSection />
	</main>
	<FooterNav />
</Layout>

<style>
	main {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
</style>
