

<span>
    <svg xmlns="http://www.w3.org/2000/svg" width="21.641" height="17.43" viewBox="0 0 21.641 17.43"><g id="Grupo_241" data-name="Grupo 241" transform="translate(-1222.823 -2180.585)"><path id="Trazado_220" data-name="Trazado 220" d="M1223.177,2180.939l8.627,8.627-8.5,8.087" fill="none" stroke="#425224" stroke-miterlimit="10" stroke-width="1"></path><path id="Trazado_221" data-name="Trazado 221" d="M1235.121,2180.939l8.627,8.627-8.5,8.087" fill="none" stroke="#425224" stroke-miterlimit="10" stroke-width="1"></path></g></svg>
</span>